
html,
body {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	line-height: 1.4em;
	color: #EEE;
	background: #333;
	overflow-x: hidden;
}

.container {
	width: 75%;
	margin: 0 auto;
}


/********************** 
NAVIGATION STYLING 
***********************/

#nav-wrap,
footer {
	background: #333;
	opacity: 0.5;
}

#nav-wrap {
	width: 100vw;
	height: 50px;
	padding: 10px 0;
	position: fixed;
}

nav img {
	width: 50px;
	float: left;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: right;
	padding: 0 3%;
	line-height: 50px;
}

nav ul li:first-child {
	padding-right: 0;
}

nav ul li a,
footer a {
	text-decoration: none;
	font-family: Century Gothic, sans-serif;
	color: #FFF;
	font-size: 0.80em;
}

nav li a:hover {
	color: #AAA;
}


/********************** 
HOME PAGE STYLING
***********************/

#home-slide1-bg {
	background-image: url("../img/DSC0892.jpg");
}

.darken-bg,
.background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	width: 100vw;
	height: 100vh;
	display: table;
}

.darken-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

.home-container {
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

#title-logo {
	width: 300px;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: solid #AAA 1px;
}

.home-large-font,
.home-strong-font {
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

.home-large-font {
	font-size: 2em;
	line-height: 2.5em;
}

.home-strong-font {
	font-size: 1.25em;
	line-height: 1.6em;
}


/********************** 
DANIEL PAGE STYLING
***********************/

#daniel-bg {
	background-image: url('../img/DSC8707.jpg');
}

.daniel-container {
	width: 50%;
	margin: 15% auto 0 auto;
}

.quote {
	font-weight: 200;
	font-size: 1.4em;
	line-height: 1.4em;
	margin-bottom: 0;
}

.quote-credit {
	font-size: 0.8em;
	font-style: italic;
	margin: 0;
	paddin: 0;
}

.margin-50-auto {
	margin: 50px auto;
}

/********************** 
PORTFOLIO STYLING
***********************/

.portfolio-header {
	padding-top: 100px;
	width: 100vw;
	height: 100px;
}

.portfolio-header h3 {
	font-size: 2em;
	text-align: center;
	margin: 0;
}

.project-wrap {
	min-height: 400px;
	width: 33.33%;
	float: left;
}

.project-wrap img {
	max-width: 100%;
}

.project-info h2 {
	font-size: 2em;
	font-weight: 100;
	line-height: 1.5em;
	margin: 0;
}

.project-info p,
.project-info h2 {
	padding: 0 10px;
}

/********************** 
FOOTER STYLING
***********************/

footer {
	position: fixed;
	bottom: 0px;
	height: 25px;
	width: 100vw;
}

footer p {
	color: #FFF;
	font-family: Century Gothic, sans-serif;
	font-size: 0.8em;
	float: left;
}

footer p,
footer a {
	line-height: 0px;
}

footer a {
	float: right;
	padding-top: 13px;
}


/********************** 
MEDIA QUERIES
***********************/


@media only screen and (min-width : 300px) and (max-width: 700px) {

	
	body {
		font-weight: 200;
	}

	.container,
	.home-large-font,
	.home-strong-font {
		width: 85%;
	}

	.daniel-container {
		width: 75%;
		margin: 15% auto 0 auto;
	}

	.quote {
		font-size: 1.0em;
		line-height: 1.4em;
	}

	.quote-credit {
		font-size: 0.7em;
	}

	.daniel-p-mobile {
		font-size: 0.9em;
		line-height: 1.4em;
	}

	/* NAV AND FOOTER */

	#nav-wrap,
	nav ul li {
		height: 35px;
	}

	#nav-wrap {
		padding: 5px 0;
	}

	nav img {
		width: 35px;
	}

	nav ul li {
		float: right;
		padding: 0 5%;
		line-height: 35px;
	}

	nav ul li a,
	footer a,
	footer p {
		font-size: 0.8em;
	}

	footer {
		height: 20px;
	}

	footer a {
		padding-top: 10px;
	}

	footer p {
		margin: 0;
		padding-top: 10px;
	}
}

/* PORTFOLIO PAGE STYLING */
/* need two seperate queries to help stacking arrangement and page flow with smaller devices and phones */

@media only screen and (min-width: 501px) and (max-width: 1024px) {
	.project-wrap {
		width: 50%;
	}
}

@media only screen and (max-width: 500px) {

	#title-logo {
		width: 175px;
		padding-bottom: 20px;
	}

	.home-large-font {
		width: inherit;
		font-size: 1.0em;
	}

	.home-strong-font {
		width: inherit;
		font-size: 0.8em;
	}

	.project-wrap {
		min-height: 400px;
		width: 100%;
	}

	.project-info h2 {
		font-size: 1.5em;
	}

	.project-info p {
		font-size: 0.9em;
	}
}





