
html,
body {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	line-height: 1.4em;
	color: #EEE;
	background: #333;
}

.container {
	width: 75%;
	margin: 0 auto;
}


/********************** 
NAVIGATION STYLING 
***********************/

#nav-wrap,
footer {
	background: #333;
	opacity: 0.5;
	position: fixed;
}

#nav-wrap {
	width: 100%;
	height: 50px;
	padding: 10px 0;
}

nav img {
	width: 50px;
	float: left;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: right;
	padding:0 3%;
	line-height: 50px;
}

nav ul li:first-child {
	padding-right: 0;
}

nav ul li a,
footer a {
	text-decoration: none;
	font-family: Century Gothic, sans-serif;
	color: #FFF;
	font-size: 0.80em;
}

nav li a:hover {
	color: #AAA;
}


/********************** 
HOME PAGE STYLING
***********************/

#home-slide1-bg {
	background-image: url("../img/_DSC0892.jpg");
}

#home-slide2-bg {
	background-image: url('./../img/_DSC0881.jpg');
}

#home-slide3-bg {
	background-image: url('./../img/_DSC0868.jpg');
}

#home-slide4-bg {
	background-image: url('./../img/_DSC0892.jpg');
}

.background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	width: 100vw;
	height: 100vh;
	display: table;
}

.home-container {
	height: 100vh;
	width: 500px;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

#title-logo {
	width: 300px;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: solid #FFF 1px;
}

.home-font {
	width: inherit;
	padding-top: 30px;
	font-size: 1.25em;
	text-align: center;
	color: #FFF;
	margin: 0 auto;
	text-shadow: 3px 3px 7px #000;
}

.font-large {
	font-size: 2em;
	line-height: 1.5em;
}

.font-medium {
	font-size: 1.5em;
}


/********************** 
DANIEL PAGE STYLING
***********************/

#daniel-bg {
	background-image: url('../img/_DSC8707.jpg');
}

.daniel-container,
.contact-container {
	float: left;
	padding: 0 10px;
	margin-top: 40%;
}

.daniel-container {
	width: 50%;
}

.contact-container {
	width: 30%;
}


/********************** 
PORTFOLIO STYLING
***********************/

img .proj-bg {
	width: 100%;
	height: auto;
}

.proj-title-wrap {
	background: #333;
	opacity: 0.5;
	padding: 10px 15px;
}


/********************** 
FOOTER STYLING
***********************/

footer {
	position: fixed;
	bottom: 0px;
	height: 25px;
	width: 100%;
}

footer p {
	color: #FFF;
	font-family: Century Gothic, sans-serif;
	font-size: 0.8em;
	float: left;
}

footer p,
footer a {
	line-height: 0px;
}

footer a {
	float: right;
	padding-top: 13px;
}


/********************** 
MEDIA QUERIES
***********************/

/* NAVIGATION IN SMALLER SCREENS */
@media only screen and (max-width: 900px) {

	nav ul li a,
	footer a {
		font-size: 1.2em;
	}

	footer {
		height: 40px;
	}

	footer a {
		padding-top: 20px;
	}

	footer p {
		font-size: 1em;
		line-height: 10px;
	}
}

/* PHONES */


/* TARGET IPHONE 5/5S */


@media only screen and (min-width : 300px) and (max-width: 475px) {

	.container {
		width: 85%;
	}

	.home-container {
		width: 85%;
	}

	/* HOME PAGE */

	#title-logo {
		width: 175px;
		padding-bottom: 20px;
	}

	.home-font {
		width: inherit;
		padding-top: 20px;
		font-size: 1em;
	}

	.font-large {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	.font-medium {
		font-size: 0.7em;
	}

	/* NAV AND FOOTER */

	#nav-wrap,
	nav ul li {
		height: 35px;
	}

	#nav-wrap {
		padding: 5px 0;
	}

	nav img {
		width: 35px;
	}

	nav ul li {
		float: right;
		padding: 0 5%;
		line-height: 35px;
	}

	nav ul li a,
	footer a,
	footer p {
		font-size: 0.8em;
	}

	footer {
		height: 20px;
	}

	footer a {
		padding-top: 10px;
	}

	footer p {
		margin: 0;
		padding-top: 5px;
	}
}
